$black: #000;
$dark: #171a22;

$white: #fff;

$primary-gray: #333333; //text
$primary-gray-light: #f8f8f8;

$primary-blue: #005594;
$blue-light: #188fff;

$purple-main: #6001d2;

$yellow-main: #fcb700;
